@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.home {
	/*background-image: url("Web images from XD/HOME.png");*/
	display:block;
	width: 68px;
	height: 30px;
	margin-left: auto;
	margin-top: 90px;
	float: left;
	background-size: contain;
		
}
.videos {
	/*background-image: url("Web images from XD/VIDEOS.png");*/
	width: 80px;
	height: 30px;
	margin-left: 90px;
	margin-top: 90px;
	float: left;
	background-size: contain;
	
}
.gear {
	/*background-image: url("Web images from XD/GEAR.png");*/
	width: 65px;
	height: 30px;
	margin-left: 90px;
	margin-top: 90px;
	float: left;
	background-size: contain;
}
.contact {
	/*background-image: url("Web images from XD/CONTACT.png");*/
	width: 105px;
	height: 30px;
	margin-left: 90px;
	margin-top: 90px;
	float: left;
	background-size: contain;
}
#home_button {
    background-image:url("images/HOME.png");
    display:block;
    height:30px;
    width:68px;
	text-indent:-9999px;
}
#video_button {
	background-image:url("images/VIDEOS.png");
	backgrond-size: contain;
    display:block;
    height:30px;
    width:85px;
	text-indent:-9999px;
}
#gear_button {
	background-image:url("images/GEAR.png");
	backgrond-size: contain;
    display:block;
    height:30px;
    width:65px;
	text-indent:-9999px;
}
#contact_button{
	background-image:url("images/CONTACT.png");
	backgrond-size: contain;
    display:block;
    height:30px;
    width:105px;
	text-indent:-9999px;
}

.image {float: right; padding-top: 18px;margin-right: px;}
.nav {float: right; padding-top: 10px;margin-right: 75px;}
.info {width: 550px; float: left; margin-left: 75px;}
p{font-size:20px;font-family:'Roboto', sans-serif;text-align: justify;}

#logo{margin-left: 45px;}

.home:hover  {
	transform: rotate(-10deg);
	/* or move margin could be margin-left:30px; to animate right*/
	font-size: 20px;
	
	transition: all.1s
}

	.videos:hover {
	transform: rotate(-10deg);
	/* or move margin could be margin-left:30px; to animate right*/
	font-size: 20px;
	transition: all.1s
}
	.gear:hover{
	transform: rotate(-10deg);
	/* or move margin could be margin-left:30px; to animate right*/
	font-size: 20px;
	transition: all.1s	
		}
	
	.gear:hover {
	transform: rotate(-10deg);
	/* or move margin could be margin-left:30px; to animate right*/
	font-size: 20px;
	transition: all.1s	
		}
	
	.contact:hover {
		transform: rotate(-10deg);
	/* or move margin could be margin-left:30px; to animate right*/
	font-size: 20px;
	transition: all.1s
	}
		
